<div class="pokemon-card">

    <div class="pokemon_name_cod">
        <div class="pokemon-card__name">       
            <div id="pokemon-name">
                bulbasaur
            </div>  
        </div>    
        <div class="pokemon-card__Cod">
            <div id="pokemon-COD">
                #COD
            </div>
        </div> 
    </div>
    
    <!--BEM - Block Element Modifier-->
    <div class="pokemon-card__image">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
    </div>     

    <div class="pokemon-card__feature_left">
        <div class="pokemon-card__feature_left--name--height pokemon-card__feature_left--name--height">
            Altura:           
        </div>
        <div class="pokemon-card__feature_left--value--height pokemon-card__feature_left--value--height">
            <div id="pokemon-cm">
                cm
            </div>
        </div>    
    </div>

    <div class="pokemon-card__feature_right">
        <div class="pokemon-card__feature_rigth--name--weight pokemon-card__feature_rigth--name--weight">
            Peso:
        </div>
        <div class="pokemon-card__feature_rigth--value--weight pokemon-card__feature_rigth--value--weight">
            <div id="pokemon-kg">
                Kg
            </div>
        </div>    
    </div>

</div>
