<div class="pokemon-card">
    
    <div class="pokemon-card_Name">
        {{ pokemon }}                
    </div>  
    
    <div class="pokemon-card_Cod">
        #COD
    </div>
    <!--BEM - Block Element Modifier-->
    <div class="pokemon-card__image">
        <img src="{{ pegarImagePokemon() }}">
    </div>     

    <div class="pokemon-card_Altura">
        Altura:           
    </div>  
    <div class="pokemon-card_Cm">
        cm       
    </div>    
    

    <div class="pokemon-card_Peso">
        Peso:
    </div>
    
    <div class="pokemon-card_Kg">
        Kg
    </div>    
   

</div>
