.pokemon-card {

    display: flex;
    flex-direction: column;
    margin: 1rem;        
    width: 222px;
    height: 271px;
    left: 315px;
    top: 587px;

    background: #FBFDFF;
    border-radius: 2px;
  
}

.pokemon-card__image {
 
    width: 124px;
    height: 122px;
    left: 103px;
    top: 655px;

}

.pokemon-card_Name_Cod {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.pokemon-card_Name {

    width: 83px;
    height: 30px;
    left: 332px;
    top: 603px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #233674;   
           
}

.pokemon-card_Cod {

    width: 45px;
    height: 22px;
    left: 479px;
    top: 607px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #233674;

}

.pokemon-card_Altura {
  
    width: 52px;
    height: 22px;
    left: 333px;
    top: 799px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #233674;


}

.pokemon-card_Cm {

    width: 54px;
    height: 22px;
    left: 215px;
    top: 799px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #233674;

}

.pokemon-card_Peso {

    width: 40px;
    height: 22px;
    left: 333px;
    top: 821px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #233674;

}

.pokemon-card_Kg {

    width: 28px;
    height: 22px;
    left: 485px;
    top: 821px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #233674;

}