<!-- <section class="conteiner-full-home-logo">

    <div class="up-logo-msgs-left">
        <div class="logo-inicie">
            <span>
                <a>
                    <img src="assets/Logo-03 1.png" alt="logo">
                </a>
            </span> 
        </div>
        <div class="explore-pokemons">
            <span>
                <a>
                    <img src="assets/Explore o mundo dos Pokémons.png" alt="msg">
                </a>
            </span>
        </div>        
        <div class="Descubra-espécies-Pokémons">
            <span>
                <a >
                    <img src="assets/Descubra todas as espécies de Pokémons.png" alt="msg2">
                </a>
            </span>
        </div>
        <div class="app-pokemon-search">
            <app-pokemon-search></app-pokemon-search> 
        </div>
    </div>      

    <div class="conteiner-vectors">
        <span>
            <a class="vector-1">
                <img src="assets/Vector-1.png" alt="Vector-1">
            </a>
        </span>        
        <span>
            <a class="Vector-2">
                <img src="assets/Vector-2.png" alt="Vector-2">
            </a>
        </span>     
        <span>
            <a class="vector-3">
                <img src="assets/Vector-3.png" alt="Vector-3">
            </a>
        </span>         
    </div>
    
</section> -->

<section class="conteiner-full-home-logo">

    <span >
        <a class="logo-inicie">
            <img src="assets/Logo-03 1.png" alt="logo">
        </a>
    </span> 
    <span >
        <a class="explore-pokemons">
            <img src="assets/Explore o mundo dos Pokémons.png" alt="msg">
        </a>
    </span>
        

    <span >
        <a class="Descubra-espécies-Pokémons">
            <img src="assets/Descubra todas as espécies de Pokémons.png" alt="msg2">
        </a>
    </span>
    <div class="app-pokemon-search">
        <app-pokemon-search></app-pokemon-search> 
    </div>  
     <span>
        <a class="vector-1">
            <img src="assets/Vector-1.png" alt="Vector-1">
        </a>
    </span>        
    <span>
        <a class="Vector-2">
            <img src="assets/Vector-2.png" alt="Vector-2">
        </a>
    </span>     
    <span>
        <a class="vector-3">
            <img src="assets/Vector-3.png" alt="Vector-3">
        </a>
    </span>            

</section>