<section class="conteiner-full-home-logo">

    <div class="container-left-in-up-home">
        
        <!-- <div>
            <span>
                <a class="Rectangle">
                    <img src="assets/Rectangle 883.png" alt="Rectangle">
                </a>
            </span>
        </div> -->

        <div>
            <span>
                <a class="logo-03">
                    <img src="assets/Logo-03 1.png" alt="logo">
                </a>
            </span> 
        </div>
        <div>
            <span>
                <a class="explore-pokemons">
                    <img src="assets/Explore o mundo dos Pokémons.png" alt="msg">
                </a>
            </span>
        </div>        
        <div>
            <span>
                <a class="Descubra-espécies-Pokémons">
                    <img src="assets/Descubra todas as espécies de Pokémons.png" alt="msg2">
                </a>
            </span>
        </div>        
    </div>

    <div class="container-rigth-in-up-home">
        <span>
            <a class="vector-1">
                <img src="assets/Vector-1.png" alt="Vector-1">
            </a>
        </span>    
        <span>
            <a class="Vector-2">
                <img src="assets/Vector-2.png" alt="Vector-2">
            </a>
        </span>    
        <span>
            <a class="vector-3">
                <img src="assets/Vector-3.png" alt="Vector-3">
            </a>
        </span>
    </div>

</section>