.title-monst-wanted {
    display: flex;
    flex-wrap: wrap;    
    width: 1238px;
    height: 30px;
    left: 61px;
    top: 507px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 100% */
    color: #2F3E77;

}

.section-monst-wanted {
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;    
}
    
