.conteiner-inp-bot-home {
    display: flex;
    
}

.input-buscar-pokemon { 
    
    width: 333px;
    height: 44px;
    left: 109px;
    top: 318px;

    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px 0px 0px 5px;
}

.button-buscar-pokemon {
    
    width: 108px;
    height: 43px;
    left: 442px;
    top: 318px;

    background: #EA686D;
    box-shadow: 0px 4px 15px #EA686D;
    border-radius: 0px 5px 5px 0px;
}
